[submodule ".vim/pack/pack/start/ultisnips"]
	path = .vim/pack/pack/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule ".vim/pack/pack/start/ctrlp.vim"]
	path = .vim/pack/pack/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule ".vim/pack/pack/start/supertab"]
	path = .vim/pack/pack/start/supertab
	url = https://github.com/ervandew/supertab
[submodule ".vim/pack/pack/start/tabular"]
	path = .vim/pack/pack/start/tabular
	url = https://github.com/godlygeek/tabular
[submodule ".vim/pack/pack/start/vim-snippets"]
	path = .vim/pack/pack/start/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule ".vim/pack/pack/start/vim-slime"]
	path = .vim/pack/pack/start/vim-slime
	url = https://github.com/jpalardy/vim-slime
[submodule ".vim/pack/pack/start/vim-commentary"]
	path = .vim/pack/pack/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/pack/pack/start/vim-repeat"]
	path = .vim/pack/pack/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".vim/pack/pack/start/vim-surround"]
	path = .vim/pack/pack/start/vim-surround
	url = https://github.com/tpope/vim-surround
