priority -20

snippet to "add todo task"
${1:<status>}, ${2:<due>}, ${3:<task>}, ${4:<link>}
endsnippet

snippet wo "add work log entry"
`date +'%m%d'`, ${1:<start>},  ${2:<stop>}, ${3:<description>}
endsnippet
